<nav class="py-3">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
        <img src="./assets/images/logo.png" alt="image logo" class="img-fluid">
    </div>
    <div class="col-md-8">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="movies">MOVIES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tv">TV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="people">PEOPLE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contacts">CONTACTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reviews">REVIEWS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="messages">SEND MESSAGES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">REGISTER</a>
        </li>
      </ul>
    </div>
    <div class="col-md-2 text-white d-flex justify-content-around">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-youtube"></i>
    </div>
  </div>
</div>
</nav>
